/**********
* Часто повторяющиеся элементы *

- Кнопки
- Контейнер
- Подсказка блока
- Заголовки 
- Картинки
- Параграф
- Header

**********/

@import "media_mixin";
@import "fonts_mixin";
@import "variables";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    overflow: hidden;
    overflow-y: auto;
}

// Заголовки
h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1e1e1e;
    font-family: Roboto;
    @include max_992 {
        font-size: 20px;
    }
}
h2 {
    color: #7a3104;
    font-family: FOglihtenno06;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    @include max_1400 {
        font-size: 60px;
    }
    @include max_1200 {
        font-size: 50px;
    }
    @include max_992 {
        font-size: 38px;
    }
    @include max_768 {
        font-size: 32px;
    }
}

// Кнопки
.btn {
    width: 200px;
    height: 48px;
    border: 2px solid #7a3104;
    border-radius: 10px;
    background-color: #ffffff;
    color: #7a3104;
    font-family: FOglihtenno06;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 190%;
    &:hover {
        background-color: #7a3104;
        color: #ffffff;
        box-shadow: 1px 1px 20px 0 rgba(42, 42, 42, 0.15);
    }
    @include max_576 {
        width: 100%;
    }
}

// Контейнер
.container {
    padding: 50px 10px;
}

// Подсказка блока
.hint {
    color: #7a3104;
    text-align: right;
    font-family: FOglihtenno06;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include max_992 {
        font-size: 16px;
    }
}

// Картинки
.image {
    border-radius: 10px;
    box-shadow: 1px 1px 20px 0 rgba(42, 42, 42, 0.15);
    @include max_576 {
        width: 100%;
    }
}

// Парагаф
p {
    color: #1e1e1e;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 100%;
    @include max_576 {
        max-width: 100%;
        font-size: 18px;
    }
}

// Розделитель
.separator {
    .line {
        width: 48.5%;
        background-color: #7a3104;
        height: 1px;
        @include max_992 {
            max-width: 48%;
        }
        @include max_576 {
            max-width: 46.5%;
        }
        @include max_768 {
            max-width: 47.5%;
        }
        @include max_576 {
            max-width: 46.5%;
        }
    }
    .bi {
        color: #7a3104;
        font-size: 14px;
    }
}

// Header
.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
    .container {
        .header-logo {
            img {
                border-radius: 0;
                width: 90px;
                margin-bottom: 2px;
                box-shadow: none;
            }
            p {
                color: #7a3104;
                font-family: FoglihtenNo06;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.25px;
                text-transform: uppercase;
            }
        }
        .header-menu {
            nav {
                @include max_768 {
                    width: 100%;
                }
            }
            ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                justify-content: center;
                padding: 0;
                margin: 0;
                li {
                    margin-right: 20px;
                    @include max_992 {
                        margin-right: 15px;
                    }
                    @include max_768 {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        position: relative;
                        color: #1e1e1e;
                        font-family: Roboto;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-decoration: none;
                        &::before {
                            position: absolute;
                            bottom: -7px;
                            left: 50%;
                            width: 0;
                            height: 2px;
                            content: "";
                            transition: all 0.4s ease-in-out;
                            background-color: #7a3104;
                        }
                        &:hover {
                            color: #7a3104;
                            font-weight: 600;
                            &::before {
                                right: 0;
                                left: 0;
                                width: 96%;
                                margin: auto;
                            }
                        }
                        @include max_992 {
                            font-size: 18px;
                        }
                        @include max_768 {
                            display: block;
                            &::before {
                                opacity: 0;
                            }
                        }
                    }
                }
                @include max_768 {
                    display: block;
                }
            }
            @include max_768 {
                position: absolute;
                align-items: start;
                right: -350px;
                top: 0;
                width: 350px;
                height: 100vh;
                background-color: #ffffff;
                transition: transform 0.5s;
                padding-top: 75px;
                padding-left: 30px;
            }
        }
        .separator {
            .line {
                width: 135px;
            }
        }
        .header-burger {
            position: relative;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            border: none;
            outline: none;
            span {
                display: block;
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: #7a3104;
                transition: background-color 0.5s, opacity 0.25s, transform 0.5s;
                will-change: transform;
                &:nth-child(1) {
                    transform: translateY(-8px);
                }
                &:nth-child(2) {
                }
                &:nth-child(3) {
                    transform: translateY(8px);
                }
            }
        }
        &.open {
            @include max_768 {
                .header-menu {
                    padding: 75px 30px 0 30px;
                    transform: translateX(-100%);
                }
                .header-burger {
                    span {
                        &:nth-child(1) {
                            transform: translateY(0) rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: translateY(0) rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

//Body
.banner {
    background-color: #fcf8f9;
    .hotel-name {
        font-family: FOglihtenno06;
        font-size: 100px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #7a3104;
        @include max_1400 {
            font-size: 88px;
        }
        @include max_1200 {
            font-size: 74px;
        }
        @include max_992 {
            font-size: 54px;
        }
        @include max_768 {
            font-size: 42px;
        }
    }
    .desc {
        max-width: 327px;
        @include max_992 {
            max-width: 254px;
            font-size: 20px;
        }
        @include max_576 {
            max-width: 100%;
        }
    }
    .swiper-banner {
        width: 100%;
        .swiper-slide {
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
    .swiper-scrollbar {
        bottom: -15px;
        background-color: #ffffff;
    }
    .swiper-scrollbar-drag {
        height: 5px;
        border-radius: 4px;
        background-color: #7a3104;
    }
}
.about {
    h2 {
        @include max_1400 {
            font-size: 60px;
        }
        @include max_1200 {
            font-size: 50px;
        }
        @include max_992 {
            font-size: 38px;
        }
        @include max_768 {
            font-size: 28px;
        }
    }
    .desc {
        @include max_992 {
            font-size: 18px;
        }
        @include max_576 {
            font-size: 20px;
        }
    }
    span {
        color: #7a3104;
        font-family: FOglihtenno06;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include max_992 {
            font-size: 18px;
        }
        @include max_576 {
            font-size: 20px;
        }
    }
}
.rooms {
    background-color: #fcf8f9;
    .desc {
        @include max_992 {
            font-size: 18px;
        }
        @include max_576 {
            font-size: 20px;
        }
    }
    .room {
        .content {
            .title {
                color: #7a3104;
                font-family: FOglihtenno06;
                font-size: 48px;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                @include max_992 {
                    font-size: 32px;
                }
            }
            .options {
                p {
                    img {
                        margin-right: 8px;
                        @include max_1200 {
                            width: 20px;
                        }
                    }
                    @include max_1400 {
                        font-size: 20px;
                    }
                    @include max_1200 {
                        font-size: 18px;
                    }
                }
            }
            .desc {
                @include max_1200 {
                    font-size: 20px;
                }
                @include max_992 {
                    font-size: 18px;
                }
            }
            .tariff {
                color: #7a3104;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                @include max_1200 {
                    font-size: 24px;
                }
                @include max_992 {
                    font-size: 20px;
                }
                @include max_768 {
                    font-size: 24px;
                }
                @include max_576 {
                    font-size: 20px;
                }
            }
        }
        .preview {
            max-width: 670px;
            @include max_1400 {
                max-width: 558px;
            }
            @include max_1200 {
                max-width: 468px;
            }
            @include max_992 {
                max-width: 348px;
            }
            @include max_768 {
                max-width: 100%;
            }
            .swiper {
                &.swiper-gallery {
                    .swiper-slide {
                        img {
                            border-radius: 10px;
                            width: 100%;
                        }
                    }
                    .swiper-pagination-bullets {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .swiper-pagination-bullet {
                        width: 20%;
                        height: 4px;
                        opacity: 1;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }
                    .swiper-pagination-bullet-active {
                        width: 20%;
                        height: 6px;
                        border: 1px solid #ffffff;
                        border-radius: 4px;
                        background-color: #7a3104;
                    }
                }
                &.swiper-thumbs {
                    height: 90px;
                    max-width: 540px;
                    @include max_1400 {
                        max-width: 445px;
                    }
                    @include max_1200 {
                        max-width: 330px;
                    }
                    @include max_992 {
                        height: 60px;
                        max-width: 240px;
                    }
                    @include max_768 {
                        height: 70px;
                        max-width: 365px;
                    }
                    box-sizing: border-box;
                    .swiper-slide {
                        opacity: 0.5;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                        &.swiper-slide-thumb-active {
                            opacity: 1;
                        }
                    }
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                width: 50px;
                height: 50px;
                border: 1px solid #7a3104;
                border-radius: 100px;
                color: #7a3104;
                &::after {
                    position: absolute;
                    font-size: 24px;
                    font-weight: 600;
                }
                &:hover {
                    background-color: #7a3104;
                    color: #ffffff;
                    transition: 0.6s;
                }
                @include max_992 {
                    width: 40px;
                    height: 40px;
                }
                @include max_768 {
                    width: 50px;
                    height: 50px;
                }
            }
            .swiper-button-next {
                right: 0;
                &::after {
                    right: 16px;
                    @include max_992 {
                        right: 12px;
                    }
                    @include max_768 {
                        right: 16px;
                    }
                }
            }
            .swiper-button-prev {
                left: 0;
                &::after {
                    left: 16px;
                    @include max_992 {
                        left: 12px;
                    }
                    @include max_768 {
                        left: 16px;
                    }
                }
            }
            .swiper-scrollbar {
                background-color: #ffffff;
            }
            .swiper-scrollbar-drag {
                height: 5px;
                border-radius: 4px;
                background-color: #7a3104;
            }
        }
    }
}
.infrastructure {
    background-color: #fcf8f9;
    .title {
        max-width: 670px;
        @include max_1400 {
            max-width: 558px;
        }
        @include max_1200 {
            max-width: 468px;
        }
        @include max_992 {
            max-width: 348px;
        }
        @include max_768 {
            max-width: 258px;
        }
        @include max_576 {
            max-width: 100%;
        }
    }
    .desc {
        max-width: 996px;
        @include max_992 {
            font-size: 20px;
        }
        @include max_768 {
            font-size: 18px;
        }
    }
    p {
        max-width: 569px;
        @include max_1400 {
            max-width: 488px;
        }
        @include max_1200 {
            max-width: 409px;
        }
        @include max_992 {
            max-width: 308px;
            font-size: 20px;
        }
        @include max_768 {
            max-width: 201px;
            font-size: 18px;
        }
        @include max_576 {
            max-width: 100%;
        }
    }
    .swiper-infrastructure {
        width: 100%;
        .swiper-slide img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
    .swiper-scrollbar {
        bottom: -15px;
        background-color: #ffffff;
    }
    .swiper-scrollbar-drag {
        height: 5px;
        border-radius: 4px;
        background-color: #7a3104;
    }
}
.services {
    .content {
        max-height: 630px;
        .bottom {
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1) 80%
            );
            width: 100%;
            height: 60px;
            opacity: 1;
        }
    }
    .read-more-checker:checked ~ .content {
        max-height: none;
    }
    .read-more-checker:checked ~ .content .bottom {
        opacity: 0;
        transition: 0.3s;
    }
    .read-more-checker ~ .read-more-button {
        &:before {
            content: "";
            position: absolute;
            width: 20px;
            border: 1px solid #7a3104;
            border-radius: 10px;
            top: 49%;
            left: 36%;
        }
        &:after {
            content: "";
            position: absolute;
            height: 20px;
            border: 1px solid #7a3104;
            border-radius: 10px;
            top: 36%;
            left: 49%;
        }
    }
    .read-more-checker:checked ~ .read-more-button {
        &:before {
            content: "";
            rotate: 45deg;
        }
        &:after {
            content: "";
            rotate: 45deg;
        }
    }
    .read-more-button {
        cursor: pointer;
        display: inline-block;
        height: 70px;
        width: 70px;
        border: 1px solid #7a3104;
        border-radius: 100px;
        &:hover {
            rotate: 360deg;
            transition: 1s;
        }
    }
    h2 {
        @include max_768 {
            font-size: 26px;
        }
        @include max_576 {
            font-size: 32px;
        }
    }
    .title {
        color: #7a3104;
        font-family: FOglihtenno06;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @include max_992 {
            font-size: 20px;
        }
        @include max_768 {
            font-size: 16px;
        }
    }
    .desc {
        @include max_1200 {
            font-size: 20px;
        }
        @include max_576 {
            font-size: 18px;
        }
    }
}
.gallery {
    background-color: #fcf8f9;
    .desc {
        max-width: 996px;
        @include max_992 {
            font-size: 20px;
        }
        @include max_768 {
            font-size: 18px;
        }
    }
    .swiper {
        margin-left: 0;
        height: 731px;
        @include max_1400 {
            height: 753px;
        }
        @include max_992 {
            height: 484px;
        }
        @include max_768 {
            height: auto;
        }
        &.swiper-gallery {
            max-width: 968px;
            @include max_1400 {
                max-width: 779px;
            }
            @include max_1200 {
                max-width: 605px;
            }
            @include max_992 {
                max-width: 466px;
            }
            @include max_768 {
                max-width: 100%;
            }
            .swiper-pagination-bullets {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .swiper-pagination-bullet {
                width: 20%;
                height: 4px;
                opacity: 1;
                border-radius: 4px;
                background-color: #ffffff;
            }
            .swiper-pagination-bullet-active {
                width: 20%;
                height: 6px;
                border: 1px solid #ffffff;
                border-radius: 4px;
                background-color: #7a3104;
            }
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
        &.swiper-thumbs {
            cursor: pointer;
            box-sizing: border-box;
            @include max_768 {
                max-width: 520px;
            }
            .swiper-slide {
                opacity: 0.5;
                img {
                    display: block;
                    height: calc((731px - 40px) / 3);
                    width: 311px;
                    object-fit: cover;
                    border-radius: 10px;
                    @include max_1400 {
                        height: calc((753px - 60px) / 4);
                    }
                    @include max_992 {
                        width: 215px;
                        height: calc((484px - 30px) / 3);
                    }
                    @include max_768 {
                        width: 158px;
                        height: 100px;
                    }
                }
                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 50px;
            height: 50px;
            background-color: #ffffff;
            opacity: 0.7;
            border-radius: 100px;
            color: #7a3104;
            &::after {
                position: absolute;
                font-size: 24px;
                font-weight: 600;
            }
            &:hover {
                opacity: 1;
                transition: 0.6s;
            }
            @include max_992 {
                width: 40px;
                height: 40px;
            }
            @include max_768 {
                width: 50px;
                height: 50px;
            }
        }
        .swiper-button-next {
            &::after {
                right: 16px;
                @include max_992 {
                    right: 12px;
                }
                @include max_768 {
                    right: 15px;
                }
            }
        }
        .swiper-button-prev {
            &::after {
                left: 17px;
                @include max_992 {
                    left: 12px;
                }
                @include max_768 {
                    left: 16px;
                }
            }
        }
    }
    .swiper-scrollbar {
        background-color: #ffffff;
    }
    .swiper-scrollbar-drag {
        height: 5px;
        border-radius: 4px;
        background-color: #7a3104;
    }
}
.contacts {
    background-color: #fcf8f9;
    .btn {
        margin-bottom: 100px;
    }
}

//Footer
.footer {
    background-color: #fcf8f9;
    .container {
        padding: 0;
        .title {
            color: var(--color-, #7a3104);
            font-family: FoglihtenNo06;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .about {
            width: 312px;
            .footer-logo {
                img {
                    border-radius: 0;
                    width: 90px;
                    margin-bottom: 2px;
                    box-shadow: none;
                }
                p {
                    color: #7a3104;
                    font-family: FoglihtenNo06;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.25px;
                    text-transform: uppercase;
                }
            }
            .desc {
                font-size: 18px;
            }
            .copyright {
                font-size: 18px;
                span {
                    font-size: 18px;
                }
                img {
                    width: 18px;
                }
            }
        }
        .menu {
            ul {
                width: 80px;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                justify-content: center;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: #1e1e1e;
                        font-family: Roboto;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-decoration: none;

                        @include max_992 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .contacts {
            width: 342px;
            .name {
                color: #b2b2b2;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 5px;
            }
            .phone {
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 15px;
            }
            .adress {
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
